py-clob-client==0.34.6
requests==2.31.0
python-dotenv==1.0.1
websocket-client==1.7.0
git+https://github.com/Polymarket/py-builder-relayer-client.git

eth-abi
eth-utils
eth-account
fastapi
uvicorn
supabase
pydantic
httpx
web3==7.15.0
redis
python-multipart
websockets
openai
pydantic-settings
loguru
structlog
cryptography
aiogram
ecmwf-api-client==1.6.3
